@font-face { font-family: Nexa-Bold; src: url('fonts/Nexa Bold.otf'); }
@font-face { font-family: Nexa-Thin; src: url('fonts/Nexa Thin.ttf'); }
canvas{
  position:absolute;
  top:0px; left:0px;
  display:block;
  margin:auto;
}

body{
  margin:0;
}

.scorePar{
position: absolute;
top:1%;
left: 0;
right:0;
margin: auto;
}

#stats{
  color:white;
  font-size:20px;
  /* padding:20px; */
  position:absolute;
  top:1.1%;
  left:0;
  right:0;
  margin:auto;
  text-align: center;
}

/* left:0px; */
/* background-color:rgba(255, 255, 255, 0.3); */
#rules{
  opacity:0;
  color:white;
  background-color:rgba(255, 255, 255, 0.1);
  font-size:20px;
  position:absolute;
  text-align:center;
  top:40vh;
  width:96vw;
  left:0px;
  padding:2vw;

  -webkit-animation:disappear 4s linear;
}
@-webkit-keyframes disappear{
  from{
    opacity:1;
  }
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}




#gameover {
width: 100%;
/* width: 100vmax; */
height: 70vmax;

display: flex;
flex-direction: column;
justify-content: space-around;
z-index: 2;
visibility: hidden;

/* background: yellow; */
}

#gameover {
/* height: 30%; */
align-items: center;
align-content: center;
position:absolute;
  top: 40%;
left: 50%;
transform: translate(-50%, -50%);
/* background: yellow; */
}

#gameover .container2 {
/* height: 30%; */
align-items: center;
}
#gameover .container2  {
flex-direction: row;
/* width: 60%; */
}

.sets{
font-family: 'Waiting for the Sunrise', cursive;
margin: 0;
font-size: 40px;
color: #000033;
}

.action{
width:100%;
height:50%;
}

.action2{
margin-top: 4%;
}



/* .container3{
width: 30vmax;
  height: 23vmax;
} */

.abc{
width: 75vmin;
height: 35vmin;
position: relative;
top: -20px;
left: 0;
bottom: 0;
right: 0;
margin: auto;
/* background: yellow; */
}



.goDetails{
font-family: nexa-bold;
margin: 0;
font-size: 40px;
color: #000033;
}

#won{
display: none;
font-family: Rustico-Regular;
margin: 0;
font-size: 60px;
color: #56B31A;
}

#lose{
display: none;
font-family: Rustico-Regular;
margin: 0;
font-size: 60px;
color: red;
}

#draw{
display: none;
font-family: Rustico-Regular;
margin: 0;
font-size: 60px;
color: #000033;
}

#scoreNum{
color: #ef5a2f;
text-align: center;
}

#scoreText{
 color: #5E5E5E;
}

#timeNum{
color: #ef5a2f;
text-align: center;
}

#timetext{
 color: #5E5E5E;
}

.action3{
margin-top: -10px;
}

.topbar{
width: 90px;
height: 40px;
position: absolute;
top: 1%;
left: 1.5%;
margin: auto;
/* display: flex; */
/* justify-content: space-between; */
/* background: yellow;*/
z-index: 5;
}

.topbar2{
width: 40px;
height: 40px;
position: absolute;
top: 1%;
right: 1.5%;
margin: auto;
z-index: 6;
/* display: flex; */
/* justify-content: space-between; */
/* background: yellow;*/
}

.flex-end {
justify-content: space-between;
}

.par{
width: 48%;
height: 100%;
}

.par2{
width: 100%;
height: 100%;

}

.bChild{
width: 100%;
height: 100%;
}


#devsize{
  position: absolute;
  z-index: 5;
  left: 0;
  top: 20%;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  width: 50px;
  height:30px;
  font-size: 40px;
}




#gameover2 {
/* width: 100%; */
/* width: 50vmax;
height: 50vmax; */
width: 80%;
height: 40%;
display: flex;
flex-direction: column;
justify-content: space-around;
visibility: hidden;
z-index: 2;
/* background: #f9f9eb;
border-radius: 20px;
background:url('img/popupBg.png');
background-size: 100% 100%; */
    /* background-repeat: repeat; */

}

#gameover2 {
/* height: 30%; */
align-items: center;
align-content: center;
position:absolute;
  top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* background: yellow; */
}

#gameover2 .container2 {
/* height: 30%; */
align-items: center;
}
#gameover2 .container2  {
flex-direction: row;
/* width: 60%; */
}


.abc2{
  width: 65vmin;
  height: 35vmin;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
  /* background: yellow; */
}

/* .mesPar{
  width: 70vmin;
} */

.mesPar{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 4;
  text-align: center;
}
.action4{
  margin-top: 20%;
}

.action5{
  margin-top: 15%;
}
.action0{
  margin-top: 5%;
}

.goDetails2{
font-family: nexa-thin;
margin: 0;
font-size: 30px;
/* color: #000033; */
color: white;
opacity: 0.7;
}


@media only screen and (min-width: 401px) and (max-width: 599px) {
  #gameover2 {

  width: 40vmax;
  height: 40vmax;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  visibility: hidden;
  z-index: 2;
  background: #f9f9eb;
  border-radius: 20px; */

  }
}

#target{
  font-family: nexa-bold;
}

#score{
  font-family: nexa-bold;
}
